* {
    font-family: "Bebas Neue";
    background-color: #084008;
    color: bisque;
}

h1{
    text-align: center;
    justify-content: center;
    font-size:12vw;
}

p{
    text-align: center;
    justify-content: center;
    font-size:3vw;
}

